.gv-gallery-box {
	float: left;
	margin: 0.5em;
	text-align: center;
    background-color: lightsteelblue;
    color: whitesmoke;
}

.gv-gallery-box a {
    text-decoration: none;
    color: grey;
}

.gv-info-box {
    padding: 5px;
    color: whitesmoke;
}

.gv-info-box a {
    text-decoration: none;
}

.gv-gallery-title {
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: 0px;
    color: whitesmoke;
}

.gv-gallery-title a {
    text-decoration: none;
}

.gv-checkered{
    height: 240px;
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
    background-repeat: repeat, repeat;
    background-position: 0px 0, 5px 5px;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-background-origin: padding-box, padding-box;
    background-origin: padding-box, padding-box;
    -webkit-background-clip: border-box, border-box;
    background-clip: border-box, border-box;
    -webkit-background-size: 10px 10px, 10px 10px;
    background-size: 10px 10px, 10px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
    transform: scaleX(1) scaleY(1) scaleZ(1);
}

.gv-switch-box {
    float: right;
}

/* The switch - the box around the slider */
.gv-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

/* The switch text beside the switch */
.gv-switch-text {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin-left: 1em;
}

/* Hide default HTML checkbox */
.gv-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.gv-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.gv-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .gv-slider {
  background-color: #2196F3;
}

input:focus + .gv-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .gv-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.gv-slider.gv-round {
  border-radius: 14px;
}

.gv-slider.gv-round:before {
  border-radius: 50%;
}